{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Welcome{% endblock %}

{% block main %}

<div class="center_bloc">
	<h3>Bienvenue</h3>
	{{ welcome }}
</div>


{% endblock %} {# main #}

